@use "global";
@use "var";
@use "components";

body {
	background-color: var.$desertSand;
	scroll-behavior: smooth;
	justify-content: space-between;
}

main {
	width: 100%;
	flex-grow: 1;
	margin: 48px auto;
	padding: 0 2rem;
}

a {
	color: var.$bittersweetShimmer;

	&:visited {
		color: lighten(var.$bittersweetShimmer, 5%);
	}
}

.collection {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.15rem;
	font-size: 1.25rem;
	margin-top: 3rem;
	font-variant-numeric: lining-nums;
}

.all-pages {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 0.15rem;
}

.pages,
.previous-page,
.next-page {
	color: var.$blackBean;
	cursor: pointer;
	padding: 1rem;

	&:hover {
		text-decoration: underline;
	}
}

.current-page {
	color: var.$bittersweetShimmer;
	cursor: auto;
	&:hover {
		text-decoration: none;
	}
}

.disabled {
	opacity: 0.5;
	cursor: auto;
	&:hover {
		text-decoration: none;
	}
}

/* Styles to add */
.non-italic {
	font-style: normal;
}

.details-bg {
	height: 100vh;
	overflow: hidden;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 721px) {
	main {
		margin: 64px auto;
		padding: 0 8rem;
	}

	.collection {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 60px;
	}
}
