@use "global";
@use "var";
@use "components";

body {
	background-color: var.$desertSand;
	scroll-behavior: smooth;
	justify-content: space-between;
}

main {
	width: 100%;
	flex-grow: 1;
	margin: 48px auto;
	padding: 0 2rem;
}

a {
	color: var.$bittersweetShimmer;

	&:visited {
		color: lighten(var.$bittersweetShimmer, 5%);
	}
}

.collection {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px;
}

/* Styles to add */
.non-italic {
	font-style: normal;
}

.details-bg {
	max-height: 100vh;
	overflow: hidden;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 721px) {
	main {
		margin: 64px auto;
		padding: 0 8rem;
	}

	.collection {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 60px;
	}
}
