@use "global";
@use "var";

body {
	background-image: url("../imgs/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	color: var.$linen;
	justify-content: center;
}

footer {
	a {
		color: var.$atomicTangerine;

		&:visited {
			color: lighten(var.$atomicTangerine, 5%);
		}
	}
}

.box {
	margin: auto;
	padding: 40px 24px;
	min-height: fit-content;
	max-height: 400px;
	min-width: 50%;
	max-width: 90%;
	border-radius: 12px;
	box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(16px) brightness(120%);
	-webkit-backdrop-filter: blur(16px) brightness(120%);
}

.search-bar {
	display: flex;
	width: 100%;

	input,
	button {
		border: 1px solid var.$blackBean;
		padding: 16px;
		height: 52px;
	}

	input {
		flex-grow: 1;
		background-color: var.$linen;

		&:focus {
			outline: none;
			background-color: var.$desertSand;
		}
	}

	button {
		background-color: var.$atomicTangerine;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 52px;
		img {
			height: 24px;
		}

		&:hover {
			background-color: darken(var.$atomicTangerine, 7%);
		}

		&:active {
			background-color: lighten(var.$atomicTangerine, 7%);
		}
	}
}

/*MEDIA QUERIES*/
/*Mobile*/
@media only screen and (max-width: 600px) {
	.search-bar {
		flex-direction: column;
		gap: 12px;

		input,
		button {
			border-radius: 6px;
		}
	}
}

/*Larger*/
@media only screen and (min-width: 601px) {
	.box {
		padding: 40px 80px;
	}

	input {
		border-radius: 6px 0 0 6px;
	}

	button {
		aspect-ratio: 1 / 1;
		border-radius: 0 6px 6px 0;
		margin-left: -1px;
	}
}
